.QtyControl{
    display: flex;
    align-items: center;

    &__btn{}
    &__input{
        text-align: center;
        width: 35px;
        margin: 0 5px;
        font-weight: 600;
        font-size: 1.15em;
    }
}