/* внутренняя обводка */

position: absolute;
width: 40px;
height: 40px;
left: 615px;
top: 1678px;

/* Button_inside */
border: 3px solid #F6F7FA;

box-sizing: border-box;


/* - */

position: absolute;
width: 40px;
height: 40px;
left: 615px;
top: 1678px;



/* обводка индификатор кнопки */

position: absolute;
width: 40px;
height: 40px;
left: 615px;
top: 1678px;

background: #F8F9FC;
border: 6px solid rgba(0, 0, 0, 0.25);
box-sizing: border-box;


/* внутренняя обводка */

position: absolute;
width: 40px;
height: 40px;
left: 615px;
top: 1678px;

/* Button_inside */
border: 3px solid #F6F7FA;
box-sizing: border-box;


/* обводка */

position: absolute;
width: 40px;
height: 40px;
left: 615px;
top: 1678px;



/* - */